:root {
  --primary: seagreen;
  --secondary: rgb(159, 219, 186);
}

input {
  padding: 6px;
  border: solid gray 1px;
  margin: 8px 0 0 0;
  font-size: 17px;
}

.search-container button {
  padding: 6px 10px;
  margin: 8px 16px 0 0;
  background-color: var(--primary);
  font-size: 17px;
  border: solid var(--secondary) 2px;
  cursor: pointer;
}
